#calculator {
    background-color: lightgray;
    width: 600px;
    height: 700px;
    position: absolute;/* This section of code centers item vertically on page. */
    top: 0;            /*Only works if element has set height*/
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#screen {
    background-color: black;
    width: 580px;
    height:300px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#buttonContainer {
    height: 370px; /*Calculated from heights of calculator-screen-10px margin top, middle, bottom*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}

.row {
    height: 74px; /* 370 (total container height) / 5 (number of rows) */
    width: 580px; /*same as screen width for consistency*/
    display: flex;
    justify-content: space-around;
}
button {
    height: auto;
    width: 145px; /* row width / number of buttons in row*/
}